.wrapperCard {
    display: grid;
    grid-auto-flow: column;
    gap: 50px;
}

.card {
    height: 100%;
    margin: 0 15px;
    padding: 45px 19px;
    background: #F4F5F6;
    border-radius: 12px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: #FF2A3C;
}

.name {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #23262F;
}

.city {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #595959;
}

.user {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 7px;
}

.rating {
    color: black;
}

.heading {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 7px;
}

.text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #595959;
}

@media (min-width: 1024px) {
    .wrapper ul:last-child {
        display: none;
    }
}