.logoWrapper {
}

.logo {
    width: 115px;
    height: 50px;

    text-align: center;

    font-size: 20px;
    font-weight: 700;

    font-style: normal;
    line-height: 24px;

    background: var(--redAlizarin);
}

.wrapper {
    display: grid;
    overflow: hidden;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    padding: 30px 0;
}

.image_container {
    position: absolute;
    z-index: -1;
    right: 0;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    position: relative;
    object-fit: cover;
    filter: brightness(70%);
    width: 100%;
    height: 100vh;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.6;
}


.text {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
}

.wrapper h1 {
    letter-spacing: -0.01em;

    font-size: 60px;
    font-weight: 700;
    line-height: 59px;

    color: var(--redAlizarin);

}

.wrapper h2 {
    letter-spacing: -0.01em;

    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
}

.content {
    display: grid;
    gap: 50px;
    align-self: center;
}

.contentWrapper {
    display: grid;
    gap: 54px;
}

.headingWrapper {
    display: grid;
    gap: 18px;
}

.contactsWrapper {
    display: grid;
    gap: 27px;
}

.contacts {
    display: grid;
    gap: 15px;
}

.button {
}
.buttonWrapper {
}
.contacts li {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;

    align-items: center;
}

.contactsIcon {
    display: grid;
    gap: 12px;
    grid-auto-flow: column;
}

.whatsapp {
    max-width: 32px;
}




.contactNumber {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}
@media (max-width: 502px) {
    .wrapper{
        height: 812px;
    }
    .image_container {
        height: 812px;
    }
    .image{
        min-width: 320px;
    }

}
@media (min-width: 502px) {
    .wrapper {
        padding: 60px 0;
        grid-template-rows: auto 1fr auto;
    }

    .buttonWrapper {
        max-width: 500px;
    }

    /*.headingText{*/
    /*    font-weight: 800;*/
    /*    font-size: 96px;*/
    /*    line-height: 116px;*/
    /*    letter-spacing: -0.01em;*/
    /*}*/
}