
body {
    min-width: 320px;

    font-family: inter, sans-serif;
    font-size: 14px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--b0);
}

.container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 32px;
}

/*@media (prefers-color-scheme: dark) {*/
/*    html {*/
/*        color-scheme: dark;*/
/*    }*/

/*    body {*/
/*        color: var(--b0);*/
/*        background: var(--black);*/
/*    }*/
/*}*/
