/* Colors */
:root {
    /* Dark theme / Grayscale */
    --black: black;
    --b11: #000;
    --b10: #0F0F13;
    --b9: #1E1E24;
    --b8: #2C2C35;
    --b7: #40404A;
    --b6: #5B5B65;
    --b5: #70707C;
    --b4: #8A8A98;
    --b3: #A9A9B7;
    --b2: #D0D0DA;
    --b1: #F5F5FF;
    --b0: #FCFCFC;

    /* White theme / Grayscale */
    --w11: #07070C;
    --w10: #16161E;
    --w9: #262631;
    --w8: #2E2E3A;
    --w7: #535362;
    --w6: #656575;
    --w5: #7E7E8F;
    --w4: #9A9AAF;
    --w3: #C6CBD9;
    --w2: #E2E2EA;
    --w1: #F2F3F7;
    --w0: #FFF;
    --white: white;

    /* Accents */
    --grayThistle: #C2B7CD;
    --blueSkies: #06D7F6;
    --blueAzure: #0062FF;
    --bluePersian: #4807EA;
    --pinkStrawberries: #FF5CAA;
    --purpleAmethyst: #A162F7;
    --purpleMagenta: #E80FE9;
    --redAlizarin: #FF2A3C;
    --redStrawberry: #DB3031;
    --greenSea: #15FFAB;
    --greenAquamarine: #3DD598;
    --greenSpring: #62F783;
    --greenVerdepom: #24CA49;
    --yellowZinc: #FFF736;
    --orangeShiny: #FFB443;
    --orangeMango: #FF8743;
    --orangeSpunky: #FF7A2F;
    --orangeAmber: #FE7E07;

    --p1: #ff2a3c;
    --p2: #83bf6e;
    --p3: #ff6a55;
    --p4: #8e59ff;
    --s1: #ffbc99;
    --s2: #cabdff;
    --s3: #b1e5fc;
    --s4: #b5e4ca;
    --s5: #ffd88d;

    --n: #ffffff;
    --n1: #141416;
    --n2: #23262f;
    --n3: #353945;
    --n4: #777e90;
    --n5: #b1b5c3;
    --n6: #e6e8ec;
    --n7: #f4f5f6;
    --n8: #fcfcfd;

    --shades1: #9a9fa5;
    --shades2: #6f767e;
    --shades3: rgba(111, 118, 126, 0.4);
    --shades4: rgba(17, 19, 21, 0.9);


}

/* Headers */
.h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}

.h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 39px;
}

.h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
}

.h4 {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
}

.h5 {
    letter-spacing: -0.009em;

    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.h6 {
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
}

.h7 {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.textBold {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.subtitle {
    letter-spacing: -0.009em;

    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
}

.subtitleSemiBold {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
}

.button {
    letter-spacing: -0.009em;

    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}

.miniButton {
    letter-spacing: -0.009em;

    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.description {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.miniDescription {
    letter-spacing: 0.05em;

    font-size: 9px;
    font-weight: 400;
    line-height: 11px;
}
.body {
    font-size: 24px;
    line-height: calc(32 / 24);
    letter-spacing: -0.01em;
    color: var(--b8);
    font-weight: 400;
}

.body-bold {
    font-size: 24px;
    line-height: calc(32 / 24);
    letter-spacing: -0.01em;
    font-weight: 600;
    color: var(--b8);

}

.body-2 {
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--b8);

    font-weight: 400;
}

.body-2-bold {
    font-size: 16px;
    line-height: calc(24 / 16);
    font-weight: 600;
}

.caption {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--b8);

    font-weight: 400;
}

.caption-bold {
    font-size: 14px;
    line-height: calc(24 / 14);
    font-weight: 500;
}

.caption-2 {
    font-size: 12px;
    line-height: calc(20 / 12);
    color: var(--b8);

    font-weight: 400;
}

.caption-2-bold {
    font-size: 12px;
    line-height: calc(20 / 12);
    font-weight: 600;
}

.hairline {
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}

.hairline-2 {
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}

.button-default {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
}

.button-2 {
    font-size: 14px;
    line-height: calc(16 / 14);
    font-weight: 700;
}

@media (max-width: 768px) {
    .body {
        font-size: 16px;
        line-height: calc(24 / 16);
    }

    .hairline {
        font-size: 12px;
        line-height: 1;
    }
}