.wrapper {
    margin: 40px 0;

}
.wrapperBank {
    display: grid;
    gap: 46px;
    margin-bottom: 50px;
}


.bank {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-right: 50px;
    background: #F4F5F6;
    border-radius: 6px;

}
.imageBlock {

}
.image{
    /*width: 100%;*/
    /*height: 40px;*/
}